/* styles.css */

.toc {
    padding: 20px;
    background-color: #f1f1f1;
  }
  
  .toc ul {
    list-style-type: none;
    padding: 0;
  }
  
  .toc li {
    margin-bottom: 8px;
  }
  
  .toc li:before {
    content: "·";  /* 使用点作为前缀 */
    margin-right: 8px;
  }
  